build/
configs/.selected
*.swp
CMakeLists.txt.user*
.fips-*
.vscode
*.patch
fips-generators/*.pyc
/fips-files/verbs/*.pyc
/fips-files/generators/**/*.pyc
export_win32/*
export_linux/*
export/*
/code/render/coregraphics/attic
/code/render/coregraphics/vk/attic
/code/foundation/jobs/attic
/code/render/coregraphics/mesh_old.h
/code/render/coregraphics/mesh_old.cc
/code/render/materials_old
/code/render/models_old
/code/render/visibility/jobs_old
/code/render/visibility/visibilitysystems_old
*.pyc
.svn
*attic
/documentation/html*
/documentation/*.tmp
/documentation/log.txt
/dump
/images
*.dmp
code/application/basegamefeature/loader/level_generated.h
*.ps1
test.fxb
export_old
/CMakeUserPresets.json
imgui.ini
/syswork/export
/tests/export
/intermediate/*
.DS_Store
.vs/nebula/v17
.vs

# gitignore template for Bazel build system
# website: https://bazel.build/

# Ignore all bazel-* symlinks. There is no full list since this can change
# based on the name of the directory bazel is cloned into.
/bazel-*

# Directories for the Bazel IntelliJ plugin containing the generated
# IntelliJ project files and plugin configuration. Separate directories are
# for the IntelliJ, Android Studio and CLion versions of the plugin.
/.ijwb/
/.aswb/
/.clwb/